
<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Burrough Browser</title>
  <link rel="stylesheet" href="static/foundation.css">
  <link rel="stylesheet" href="static/app.css">
  <script src="static/jquery-1.9.1.js"></script>
  <script src="static/angular.js"></script>
  <script src="static/app.js"></script>
</head>
<body ng-controller="PlaceListCtrl">

  <div class="row">
  	<div class="small-4 columns">
  		<input ng-model="query">
  		<ul>
  			<li ng-repeat="place in places | filter:query">
  				<a ng:click="fetchPlace(place.name);"> {{place.name}} </a>
  			</li>
  		</ul>
  	</div>
	  <div class="small-8 columns">
	  	{{current_place.name}}
	  </div>
  </div>

</body>
</html>